[submodule "jni/glib"]
	path = jni/glib
	url = git://git.gnome.org/glib
[submodule "jni/s4"]
	path = jni/s4
	url = git://git.xmms.se/xmms2/s4
[submodule "jni/xmms2"]
	path = jni/xmms2
	url = git://git.xmms.se/xmms2/xmms2-devel.git
[submodule "jni/iconv"]
	path = jni/iconv
	url = git://git.sv.gnu.org/libiconv.git
