[submodule "jni/glib"]
	path = jni/glib
	url = git://git.gnome.org/glib
[submodule "jni/s4"]
	path = jni/s4
	url = git://git.xmms2.org/xmms2/s4
[submodule "jni/xmms2"]
	path = jni/xmms2
	url = git://git.xmms2.org/xmms2/xmms2-eclipser.git
[submodule "jni/iconv"]
	path = jni/iconv
	url = git://git.sv.gnu.org/libiconv.git
[submodule "jni/flac"]
	path = jni/flac
	url = git://git.xiph.org/flac.git
[submodule "jni/mad"]
	path = jni/mad
	url = git://gitorious.org/mad/libmad.git
[submodule "jni/tremor"]
	path = jni/tremor
	url = git://git.xiph.org/tremor.git
[submodule "jni/ogg"]
	path = jni/ogg
	url = git://git.xiph.org/mirrors/ogg.git
[submodule "jni/curl"]
	path = jni/curl
	url = git://github.com/bagder/curl.git
[submodule "jni/faad"]
	path = jni/faad
	url = git://git.debian.org/git/pkg-multimedia/faad2.git
[submodule "jni/modplug"]
	path = jni/modplug
	url = git://modplug-xmms.git.sourceforge.net/gitroot/modplug-xmms/modplug-xmms
[submodule "jni/opus"]
	path = jni/opus
	url = git://git.opus-codec.org/opus.git
