<?xml version="1.0" encoding="utf-8"?>
<!-- versionCode scheme: xxyzzzz

  x - Minimum API level
  y - ABI (1: armeabi, 2: armeabi-v7a, 3: x86, 4: mips)
  z - version number, expandable into other filters if necessary, but the version number must stay at the end.

  More info: http://developer.android.com/google/play/publishing/multiple-apks.html

 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.xmms2.server"
          android:versionCode="0820008"
          android:versionName="pre-0.9-android"
          android:installLocation="auto">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">
        <service android:name=".Server" tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.xmms2.server.START_SERVICE" />
            </intent-filter>
        </service>
        <activity android:icon="@drawable/icon"
                  android:name=".Client"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".MediaButtonEventHandler"/>
    </application>
</manifest>
